{% extends 'layoutAdmin.html.twig' %}

{% block title %}RESOW | Administration{% endblock %}

{% block content %}
<main>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="admin/events">Manage Events</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="admin/discoBio">Manage discoBio</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Manage Shop</a>
    </div>
  </nav>
</main>
{% endblock %}