{% extends 'layoutAdmin.html.twig' %}

{% block title %}RESOW | Administration{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/adminIndex.css">{% endblock %}

{% block content %}
<section>
    <h1>Bienvenue dans l'administration</h1>
</section>

{% endblock %}
