{% block content %}
<section class="events">
    <a href="admin/events">Manage Events</a>
</section>
<section class="discoBio">
    <a href="">Manage Albums</a>
</section>
<section class="shop">
    <a href="">Manage Articles</a>
</section>
<section class="user">
    <a href="">Manage Users</a>
</section>
{% endblock %}