{% extends 'layout.html.twig' %}

{% block title %}RESOW | Home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
<body>
    <video autoplay="autoplay" muted="" loop="" src="..\assets\videos\home_background.webm"></video>
    <main>
        <h1>ON TOUR !</h1>
        <section class="liste">
            <div class="events">
                {% for event in events %}
                    <ul>
                        <li class="scaling"><div class="soldout"><img class="tampon" src="{% if event['isSoldout'] == true %} ../assets/images/soldout.png {% endif %}" alt="" ></div><a href="#">{{ event.city ~ " - " ~ event.place ~ " - " ~ event.date }}</a></li>
                    </ul>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
{% endblock %}