.contenu-discobio {
    margin: auto;
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenu-discobio::-webkit-scrollbar {
    display: none;
  }
.contenu-discobio {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
.bio {
    min-height: fit-content;
    width: 50vw;
}

.bio h1 {
    color: var(--rose);
    margin-top: 1rem;
}

.disco {
    width: 70vw;

}
.card.text-center {
    color: var(--white);
    background-color: transparent;
    font-family: var(--primary-font);
    border: none;
    max-width: 395px;
}
img.card-img-top{
    padding: 0.5rem;
    min-width: 250px;
}
a.btn.btn-primary{
    background-color: var(--bleu);
    border: none;
    color: black;
}
.row {
    justify-content: center;
}
h5.card-title {
    font-family: var(--primary-font);
    font-size: 20px;
}
p.card-text {
    margin-bottom: 0.5rem;
}
.bio p {
    margin-bottom: 4rem;
}
