body {
    min-height: 100vh;
    margin: 0;
    background-color: #0000007d;
    background-image: url(../images/home_background.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

h1 {
    font-size: 2.2rem;
}

main {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--white);
}