* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}



body video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -40;
    transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    height: 50vh;
}

.uk-container {
    height: 50vh;
}

h1 {
    font-size: 2.2rem;
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
}

.uk-navbar-container {
    height: 50vh;
}

.uk-navbar-nav>li>a {
    font-family: var(--nav-font);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white);
}

.uk-navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    padding: 0.5rem 1rem;
}

.uk-navbar-item-uk-logo {
    margin: 2rem auto 2rem;
    display: flex;
    justify-content: center;
}

.uk-navbar-nav-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.uk-navbar-nav-link li a {
    font-family: var(--nav-font);
    text-decoration: none;
    font-size: 30px;
}

.uk-navbar-nav-link li .home_nav {
    color: var(--vert);
}

.uk-navbar-nav-link li .discobio_nav {
    color: var(--rose);
}

.uk-navbar-nav-link li .shop_nav {
    color: var(--bleu);
}

.uk-navbar-nav-link li .contact_nav {
    color: var(--jaune);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 40vh;
}

section {
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

.events {
    width: 30vw;
    overflow: auto;
    scrollbar-width: none;
    height: 300px;
}

.events::-webkit-scrollbar {
    display: none;
}

.events ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.events ul li {
    margin: 1rem;
}

.events ul li a {
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--white);
    font-size: 22px;
}

.scaling {
    position: relative;

    z-index: 0;
}

.soldout {
    position: absolute;
    z-index: 10;
    transform: translate(100%, -80%);
    scale: 0.5;

}

.tampon {}

@media (hover:hover) {
    .scaling:hover {
        transform: scale(1.1);
    }
}