.ContactInfo {
    background-color: #0000009e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    width: 60%;
}


.ContactUserInfo .RecapMessage {
    max-width: 65ch;
    background-color: black;
    border-radius: 20px;
    word-wrap: break-word;
}

.RecapNom,
.RecapMail,
.RecapStatut {
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.ContactShow,
.InfoRecap {
    color: var(--jaune);
}