{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Connection</h1>
        <p>Entrer les informations de connexion</p>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" >
            </div>
            <button type="submit" class="btn btn-success">Connectez vous</button>
        </form>
    </div>
</div>
{% endblock %}