{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}
<footer>
    <section class="footer">
        <ul class="ul">
            <li><a href="/contact">CONTACT</a></li>
            <li><span>&copy;2024 Wild Code School, Projet By Anaé, Julien, Matthieu, Nicolas</span></li>
            <li class="liens_reseau"><a href=""><i class="bi bi-facebook"></i></a><a href=""><i class="bi bi-spotify"></i></a><a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-music-note-beamed"></i></a></li>
        </ul>
    </section>
</footer>