{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}
<footer>
	<section class="footer">
		<ul class="ul">
			<li>
				<a href="/contact">CONTACT</a>
			</li>
			<li>
				<span>&copy;2024 Wild Code School, Projet By Anaé, Julien, Matthieu, Nicolas</span>
			</li>
			<li class="liens_reseau">
				<a href="http://facebook.com"/><img src="/assets/images/fav-1.png" onmouseover="this.src='/assets/images/fav-2.png';" onmouseout="this.src='/assets/images/fav-1.png'" alt=""/>
			</a>
		<a href="http://spotify.com"/><img src="/assets/images/spoty-1.png" onmouseover="this.src='/assets/images/spoty-2.png';" onmouseout="this.src='/assets/images/spoty-1.png'" alt=""/></a>
	<a href="http://instagram.com"/><img src="/assets/images/insta-1.png" onmouseover="this.src='/assets/images/insta-2.png';" onmouseout="this.src='/assets/images/insta-1.png'" alt=""/></a>
<a href="http://apple.com"/><img src="/assets/images/apple-1.png" onmouseover="this.src='/assets/images/apple-2.png';" onmouseout="this.src='/assets/images/apple-1.png'" alt=""/></a>
</li></ul>
</section>
</footer>
