<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-item uk-logo">
                <img src="/../../../assets/images/logo_header.png">
            </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav link">
                            <li><a href="/" class="home_nav">Home</a></li>
                            <li><a href="discoBio" class="discobio_nav">DiscoBio</a></li>
                            <li><a href="shop" class="shop_nav">Shop</a></li>
                            <li><a href="contact" class="contact_nav">Contact</a></li>
                        </ul>
                    </div>
                <div class="uk-navbar-right"> 
                    <ul class="uk-navbar-nav">
                        {% if user %}
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.firstname}} {{user.lastname}}
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Mon compte</a></li>
                        <li><a class="dropdown-item" href="/logout"><img src="..\assets\images\deco.png" class="deconnexion-button"/>Deconnexion</a></li>
                    </ul>
                </div>
                        {% else %}
                        <li><a href="/login">Connexion</a></li>
                        <li><a href="/register">S'enregistrer</a></li>
                        {% endif %}
                        
                        <li><a href="cart">panier</a></li>

                    </ul>
            </div>
        </div>
    </div>
</nav>
