<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/events">Manage Events</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="/admin/discoBio">Manage DiscoBio</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="/admin/shop">Manage Shop</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="/admin/users">Manage Users</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="/admin/contact">Manage Contact</a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
      <a class="navbar-brand" href="/">Retour au site</a>
    </div>
  </nav>
</header>