<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-item uk-logo">
                <img src="/../../../assets/images/logo_header.png">
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li><a href="#" style="color: #b1d9b8">Home</a></li>
                    <li><a href="#"style="color: #c1acb4">DiscoBio</a></li>
                    <li><a href="#"style="color: #afe1ec">Shop</a></li>
                    <li><a href="#"style="color: #f9fdcb">Contact</a></li>
                </ul>

            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#" style="font-size: 1.1rem;">Login</a></li>
                    <li><a href="#" style="font-size: 1.1rem;">panier</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>