{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}
{% block title %}RESOW | Contact{% endblock %}
{% block content %}
    <main class='FormContact'>
        <section class="ContactForm">
        <h1 class='Titrecontact'>Formulaire de contact</h1>
        <form class='formulaire' method="post">
            <label class='name' for="name">Nom</label>
                <input class= 'nom' type="text" id="name" name="name">
            <label class='firstname' for="firstname">Prénom</label>
                <input class='prenom' type="text" id="firstname" name="firstname">
            <label class='Contactemail' for="email">E-mail</label>
                <input class='contactmail' type="email" id="email" name="email">
            <fieldset class='statut'>
                <legend>Vous êtes un :</legend>
                    <label class='part' for="Particulier">Particulier</label>
                        <input class ="particulier" type="checkbox" id="particulier" name="particulier">
                    <label class='pro'for="Professionnel">Professionnel</label>    
                        <input class="professionnel" type="checkbox" id="professionnel" name="professionnel">
            </fieldset>
            <label class='message' for="Message">Message</label>
                <textarea class= 'ContactMessage' name='message'></textarea>
                <input class='ContactBouton' type="submit" value="Envoyer">
        </form>
        </section>
    </main>
    {% endblock %}