{% extends 'layout.html.twig' %}
{% block title %}RESOW | Contact{% endblock %}
{% block content %}
<main>
<h2>Contact</h2>
<p>Nous avons pris en compte votre requête et vous serez recontacté dans les plus brefs délais</p>
<div>
<h1>{{contact.name}}</h1>

</div>















</main>
{% endblock %}