{% extends 'layout.html.twig' %}
{% block title %}RESOW | Contact{% endblock %}
{% block content %}
<main>
<h2>Contact</h2>
<p>Nous avons pris en compte votre requête et vous serez recontacté dans les plus brefs délais</p>
<div>
<p>{{contact.name contact.firstname contact.email}}</p>
<p>{{contact.particulier contact.professionnel}}
<p>{{contact.message}}</p>

</div>















</main>
{% endblock %}