{% extends 'Layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block content %}
	<section class="vh-80 gradient-custom">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-70">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-dark">
						<div class="card-body-error p-5 text-center">
                     <p><img src="/assets/images/nop-1.gif" class="nop"/></p>
							<div class="mb-md-5 mt-md-4 pb-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
